PORT=3000
NODE_ENV=development
SESSION_SECRET=cambia-esta-clave-por-una-muy-larga-y-aleatoria
PUBLIC_URL=http://localhost:3000
ADMIN_PASSWORD=AdminFeria2026!
CJUSTINIANO_PASSWORD=Cjustiniano2026!
DPINTO_PASSWORD=Dpinto2026!
